body {
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    --size: 70vw;
}

div.cube {
    width: calc(var(--size)*0.3);
    height: calc(var(--size)*0.3);
    transform-style: preserve-3d;
    position: relative;
    transform: rotateX(-90deg);
    
}
div.layer {
    position: absolute;
    height: calc(var(--size)*0.3);
    width: calc(var(--size)*0.3);
    transform-style: inherit;
    display: grid;
    grid-template-columns: repeat(3, calc(var(--size)*0.1));
    grid-template-rows: repeat(3, calc(var(--size)*0.1));
    grid-gap: 0px
}

div#layer0 {
    transform: translateY(calc(var(--size)*0.1)) rotateX(90deg);
    left: calc(var(--size)*-0.4)
}
div#layer1 {
        transform: rotateX(90deg)
}
div#layer2 {
    transform: translateY(calc(var(--size)*-0.1)) rotateX(90deg);
    right: calc(var(--size)*-0.4)
}

div.block {
    color: white;
    font-size: 200%;
    transform-style: preserve-3d
}

div.side {
    width: calc(var(--size)*0.1);
    height:calc(var(--size)*0.1);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    border-radius: 4px
}

div.side.top {
    transform:  rotateX(90deg) translateY(calc(var(--size)*0.1)) rotateX(-90deg);
    
}
div.side.front {
    transform: translateY(calc(var(--size)*0.1*0.5)) rotateX(90deg) translateY(calc(var(--size)*0.1*0.5));
}
div.side.back {
    transform: translateY(calc(var(--size)*0.1*-0.5)) rotateX(90deg) translateY(calc(var(--size)*0.1*0.5));
}
div.side.left {
    transform: translateX(calc(var(--size)*0.1*0.5)) rotateX(90deg) rotateY(90deg) translateY(calc(var(--size)*0.1*0.5))
}
div.side.right {
    transform: translateX(calc(var(--size)*0.1*-0.5)) rotateX(90deg) rotateY(90deg) translateY(calc(var(--size)*0.1*0.5))
}

@keyframes spin {
    0% {transform: rotateX(-15deg) rotateY(20deg);}
    100% {transform: rotateX(-15deg) rotateY(380deg);}
}
div.cube.folded {
    transform: rotateX(-15deg) rotateY(20deg);
    transition: transform 0.5s linear 1s;
    animation: spin linear 6s infinite;
    animation-delay: 1.5s
}

div.cube.folded div#layer0 {
    left: 0;
    transition: left 1s ease-in
}

div.cube.folded div#layer2 {
    right: 0;
    transition: right 1s ease-in
}

div.cube div.layer div.block.chosen-player1 .side {
    background-color: blue;
}
div.cube div.layer div.block.chosen-player2 .side {
    background-color: red;
}